/*@media (min-width: 560px) {
    h1.Page-Title {
        font-family: 'Knockout 26 A', 'Knockout 26 B', 'Arial','Sans-Serif';
        font-size: 12em;
        font-weight: 400;
        font-style: normal;
        text-transform:uppercase;
        /*padding: 50px;
    }

    .slogan {
        font-family: 'Bodoni W01 Book 709611', 'Times New Roman';
        letter-spacing: 0.175em;
        text-transform: uppercase;
    }
}*/